@import url('https://fonts.googleapis.com/css?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
/* .generic_class {
	font-family: 'Roboto', roboto;
  } */

  .page_title {
    text-align: center;
    font-family: 'Roboto';
    color: brown;
    font-size: 27px;
  }

  body {
    background: rgb(224,225,239);
    background: linear-gradient(100deg, rgba(224,225,239,1) 7%, rgba(248,248,255,1) 45%, rgba(228,233,252,1) 90%);
  }

  .title_highlight {
    text-align: center;
    font-family: 'Roboto';
    color: brown;
    background-color:transparent;
    font-size: 20px;
  }

  .title_highlight:hover {
    border-radius: 50%;
    /* box-shadow: 2px 0px 2px 1px brown; */
    background-color: brown;
    color: white;
  }

  .section_title {
    text-align: center;
    font-family: 'Roboto';
    color: black;
    font-size: 24px;
  }

  .profile {
    font-family: 'Roboto';
    font-size: 12px;
    padding: 5px;
  }
  .profile_pic {
    /* padding: 5px; */
    margin-left: auto;
    margin-right: auto;
  }
  .profile_pic:hover {
    background-color: violet;
  }

  .button {
    border: none;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
  }
  
  .button_dark {
    border: none;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    background-color: #424242;
    color: #fff;
    font-family: 'Roboto';
    font-weight: bold;
    cursor: pointer;
  }

  .vertical_button {
    /* vertical-align:top; */
    /* transform:rotate(7deg); */
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg); 
    -o-transform:rotate(90deg);
    margin-left: -25px;
    margin-top: 30px
  }

  .button:hover {
    background-color: turquoise;
    color: white;
  }

  .button_dark:hover {
    background-color: #fff;
    color: #424242;
  }

  .buttonE:hover {
    background-color: #7bfc03;
    color: white;
  } /* Green */
  .buttonC:hover {
    background-color: #fc3003;
    color: white;
  } /* Blue */
  .buttonN:hover {
    background-color: #fce303;
    color: white;
  }
  .buttonU:hover {
    background-color: turquoise;
    color: white;
  }

  .higlighted {
    background-color: turquoise;
    color: white;
  }

  .sentence {
    padding: 6px 12px;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  .sentence::selection {
    background-color: violet;
    color: white;
  }

  .footer {
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto';
  }

  .nav_btns {
    background-color: transparent;
    font-size: 15px;
    text-align: center;
    font-family: 'Orbitron';
    color: turquoise;
  }

  .nav_btns:hover {
    background-color: turquoise;
    font-size: 15px;
    text-align: center;
    font-family: 'Orbitron';
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
  }

  #maincontainer {
    width:100%;
    height: 100%;
  }

  #rightcolumn {
    float:right;
    display:inline-block;
    width: 390px;
    height: 500px;
    /* background: rgb(232,168,67);
    background: linear-gradient(317deg, rgba(232,168,67,1) 15%, rgba(222,225,69,1) 29%, rgba(82,216,129,1) 45%, rgba(6,160,209,1) 60%, rgba(67,76,164,1) 74%, rgba(138,23,150,1) 86%); */
    background: rgb(37,118,187);
    background: linear-gradient(100deg, rgba(37,118,187,1) 62%, rgba(67,76,164,1) 74%);
    /* border: 1px solid; */
    /* background-color: #ccc; */
  }

  #rightcolumn_hide {
    float:right;
    display:inline-block;
    width: 40px;
    height: 500px;
    /* background: rgb(232,168,67);
    background: linear-gradient(317deg, rgba(232,168,67,1) 15%, rgba(222,225,69,1) 29%, rgba(82,216,129,1) 45%, rgba(6,160,209,1) 60%, rgba(67,76,164,1) 74%, rgba(138,23,150,1) 86%); */
    background: rgb(37,118,187);
    background: linear-gradient(100deg, rgba(37,118,187,1) 62%, rgba(67,76,164,1) 74%);
  }

  #statusbar {
    float:right;
    display:inline-block;
    width: 350px;
    height: 100%;
    /* border: 1px solid; */
    /* background-color: #ccc; */
  }

  #statusbar_hide {
    float:right;
    display:inline-block;
    display:none;
    width: 0px;
    height: 100%;
    /* border: 1px solid; */
    /* background-color: #ccc; */
  }

  #sidebar {
    display:inline-block;
    width: 40px;
  }

  #contentwrapper {
    float:left;
    display:inline-block;
    width: -moz-calc(100% - 410px);
    width: -webkit-calc(100% - 410px);
    width: calc(100% - 410px);
    height: 100%;
  }

  #contentwrapper_max {
    float:left;
    display:inline-block;
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    height: 100%;
  }