@import url('https://fonts.googleapis.com/css?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
/* .generic_class {
	font-family: 'Roboto', roboto;
  } */

.page_title {
    text-align: center;
    font-family: 'Roboto';
    color: white;
  }

.button {
    border: none;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Orbitron';
    font-weight: bold;
    cursor: pointer;
  }
  
  .buttonE:hover {
    background-color: #7bfc03;
  } /* Green */
  .buttonC:hover {
    background-color: #fc3003;
  } /* Blue */
  .buttonN:hover {
    background-color: #fce303;
  }

  .sentence {
    background-color: black;
    padding: 15px 32px;
    color: white;
    text-align: center;
    font-family: 'Benne';
  }

  .footer {
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Orbitron';
    color: turquoise;
  }