<!DOCTYPE html>
<html>
  <title>Simple Sign up from</title>
  <head>
    <link rel="icon" href="{{ url_for('static',filename='logo.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/register.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>
  <body>
    <form action="{{ url_for('login', user=USERNAME) }}" method="post">
      <h1>Welcome back, {{ USERNAME }}</h1>
      <div class="icon">
        <img src="{{ url_for('static',filename='avatar.png') }}" alt="USER" height="100" width="100">
      </div>
      <div class="formcontainer">
      <div class="container">
        <label for="psw"><strong>Password</strong></label>
        <input type="password" placeholder="Enter Password" name="password" required>
      </div>
      <button type="submit"><strong>Login</strong></button>
      <div class="container">
        <!-- <label style="padding-left: 15px">
        <input type="checkbox"  checked="checked" name="remember"> Remember me
        </label> -->
        <div class="psw" style="text-align:center; font-family: sans-serif;">Don't have an account? <a href="/register">Register here</a></div>
      </div>
    </form>
  </body>
</html>