<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="css/template.css" />
        <title>XNLI annotation platform</title>
    </head>
    <body style="background-color: #424242;">

        <header>
            <h1 class="page_title">Annotate the Sentence Below:</h1>
        </header>

        <br><br><br>
        <h5 class="sentence">{{ PREMISE }}</h5>
        <br>
        <h5 class="sentence">{{ HYPOTHESIS }}</h5>
        <br>
        <div style="text-align: center;">
            <button class="button buttonE">E</button>
            <button class="button buttonC">C</button>
            <button class="button buttonN">N</button>
            <br><br><br><br><br>
            <h3 class="footer">Sentence: {{ SENTENCE_NUM }}</h5>
        </div>
        <script src="js/index.js"></script>

    </body>
</html>