<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/template.css') }}" />
        <title>XNLI annotation platform</title>
    </head>
    <body>

        <header>
            <h3 class="page_title">Thank you for your participation</h3>
        </header>
        <br>
        <div style="text-align: center;">
            <img src="https://i.pinimg.com/originals/7b/2c/7d/7b2c7d2501e5e47996c9e39d9912e463.gif" alt="ThankYou.gif" width="600">
        </div>
        <!-- <script src="{{ url_for('static',filename='js/index.js') }}"></script> -->
    </body>
</html>